@use 'variaveis';

.footer{
    text-align: center;

    &__img{
        height: 85px;
        display: inline-block;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    ul{
        color: variaveis.$textoEmBranco;
        font-size: small;
        display: flex;
        justify-content: center;
        
        :first-child{
            padding-left: 0;
        }

        li{
            padding-left: 20px;
        }
    }
}