@use 'variaveis';

.heroVideo{
    background-image: url(../midia/images/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    height: 1908px;
    overflow-y: hidden;

    &__overlay__top {
        position: absolute;
        top: 130px;
        display: flex;
        flex-direction: column;
        max-width: 120px;
        width: 100%;
        z-index: 1;
        margin-left: 20px;
        
        button {
            max-width: 100%;
            width: 100%;
            margin-bottom: 15px;
            font-weight: bold;
        }
    
        img {
            max-width: 120px;
        }
    }

    #carouselPropaganda {
        position: sticky;
        top: 750px;
        width: calc(100vw - 58px);
        height: 544;
        margin-left: 20px;
        border-radius: 15px;

        h5{
            color: variaveis.$textoEmBranco;
            font-weight: bold;
            background-color: variaveis.$corPretoPadrao;
            border-radius: 8px;
            text-transform: uppercase;
            padding-top: 5px;
            padding-bottom: 5px;
            font-size: 25px;
        }
    }

    &__overlay__planos {
        position: sticky;
        top: 1350px;
        color: variaveis.$textoEmBranco;

        table{
            width: calc(100vw - 20px);
            border-collapse: separate;
            border-spacing: 40px;
            table-layout: fixed;
            text-align: center;
        }

        tr {
            padding: 0;
        }

        td{
            padding: 60px 20px;
            border-radius: 20px;
            vertical-align: middle;
            text-align: center;
            background-color: variaveis.$corPretoPadrao;
        }

        img{
            max-width: 150px;
            margin-bottom: 20px;
        }

        h2 {
            margin-bottom: 20PX;
        }

        p{
            margin-bottom: 30px;
        }

        button{
            width: 70%;
            text-transform: uppercase;
            font-weight: bold;
        }
    }
}

